.header-wrapper {
  @include parent_width;
  @include centered(space-between);
  padding: $spacing * 2.5 3em;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .hamburger-menu {
    display: none;
    cursor: pointer;
    @media screen and (max-width: 1023px) {
      display: block;
    }
    width: 35px;
    height: 35px;
    position: relative;
    > span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 3px;
      width: 100%;
      background-color: $primary_text_color;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px;
      width: 100%;
      background-color: $primary_text_color;
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 1.5px);
      left: 0;
      right: 0;
      height: 3px;
      width: 100%;
      background-color: $primary_text_color;
    }
  }

  > h1 {
    font-size: 2em;
  }

  > nav {
    position: relative;

    > .header-nav {
      @include centered;
      gap: $spacing * 1.3;

      @media screen and (max-width: 1023px) {
        display: none;
      }

      > li > a {
        color: $primary_text_color;
        &:hover {
          color: $light_green_color;
          transition: 0.4s;
        }
      }
    }
  }

  > .header-links {
    @include centered;

    @media screen and (max-width: 1023px) {
      display: none;
    }
    > button {
      @include button;
      &:hover {
        @include hover;
      }
    }

    > a > i {
      color: $primary_text_color;
      padding: 0 $spacer;
      font-size: 1.5em;
    }
  }
}

.main-background {
  @include parent_width;
  background-image: url(../assets/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-wrapper {
  @include parent_width;

  .intro-container {
    max-width: 70%;
    @include centered(space-around);
    @include marginAuto();
    padding: $large_spacing * 2 0;
    @media screen and (max-width: 819px) {
      flex-direction: column-reverse;
    }

    > .introduce {
      text-align: right;
      max-width: 50%;
      @media screen and (max-width: 819px) {
        max-width: fit-content;
        text-align: center;
      }

      > h2 {
        padding-bottom: $spacing;
      }
      > p {
        padding-bottom: 1em;
      }

      > button {
        @include button;
        &:hover {
          @include hover;
        }

        @media screen and (max-width: 768px) {
          font-size: 10px;
        }
      }
    }
    > img {
      max-width: 40%;
      border-radius: 40% 40% 0 0;
      object-fit: contain;
    }
  }
}

.more-info {
  background-color: $dark_bg_color;

  max-width: 100%;
  @include centered(flex-start);
  flex-direction: row-reverse;
  > .more-text {
    padding: $spacing * 3 $spacing * 3;
    max-width: 80%;
    text-align: right;

    @media screen and (max-width: 502px) {
      padding: $spacing $spacing * 3;
    }
  }
  > .right-design {
    max-width: 15%;

    > img {
      width: 100%;
    }
  }
}

.container3 {
  background-color: $light_bg_color;
  text-align: center;

  > div {
    padding: $large_spacing $spacing 0 $spacing;
  }
}

.my-skills {
  @include parent_width();
  @include centered();
  padding: $large_spacing 3em;
  gap: $spacing * 2;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }
  > .skill {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    padding-top: 6em;
    color: $light_primary_color;
    font-size: 1em;
    text-transform: uppercase;
    overflow: hidden;
    @media screen and (max-width: 1024px) {
      width: 150px;
      height: 150px;
    }
  }
}

.my-skills {
  .html {
    background-image: conic-gradient(
      $chart_color1 0deg,
      $chart_color1 350deg,
      $light_bg_color 270deg
    );
  }

  .css {
    background-image: conic-gradient(
      $chart_color2 0deg,
      $chart_color2 340deg,
      $light_bg_color 270deg
    );
  }

  .sass {
    background-image: conic-gradient(
      $chart_color3 0deg,
      $chart_color3 310deg,
      $light_bg_color 270deg
    );
  }

  .javascript {
    background-image: conic-gradient(
      $chart_color4 0deg,
      $chart_color4 270deg,
      $light_bg_color 270deg
    );
  }
}

.myWorks-container {
  padding: $large_spacing 0;
  max-width: 100%;
  background-color: $dark_bg_color;

  > .web-works {
    @include centered;
    @include marginAuto();
    flex-direction: column;
    max-width: 80%;
    > p {
      padding-bottom: $spacing;
      text-align: center;
    }
    > img {
      max-width: 70%;
      border-radius: $spacing $spacing;
      box-shadow: 0 0 10px $light_primary_color;

      @media screen and (max-width: 1441px) {
        max-width: 100%;
      }
    }
  }
}

.buttons-changing {
  padding-top: $spacing;
  > button i {
    font-size: 2em;
    background-color: $secondary_button_color;
    padding: 0.2em 0.3em;
    border-radius: 50%;
  }
}

.container-graphic {
  background-color: $light_bg_color;
  @include parent_width;
  @include centered(flex-start);

  .graphic-intro {
    max-width: 80%;
    padding: $spacing * 3;
  }

  > img {
    max-width: 10%;
  }
}

.my-design-works {
  @include parent_width;
  @include centered();
  flex-direction: column;
  text-align: center;
  min-height: 50vh;
  background-color: $light_green_color;

  > h4 {
    padding-top: $spacing * 2;
  }

  > p {
    padding: 0 $spacing * 3;
  }
  > .design-items {
    padding: $spacing * 3 $spacing * 3;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: $spacing;
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }

    > img {
      width: 100%;
      border-radius: $spacing;
    }
  }
}

.hamburger-container {
  display: none;
  max-width: 100vw;
  position: relative;

  > .hamburger-menu-inside {
    width: 30%;
    min-height: 600px;
    background-color: rgba(255, 255, 255, 0.693);
    position: absolute;
    right: 0;
    top: 0;

    > nav > .hamburger-nav {
      text-align: center;
      padding: $spacing * 8 $spacing;

      > li {
        padding: $spacing 0;
        > a {
          font-weight: 700;
          @media screen and (max-width: 376px) {
            font-weight: 400;
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

.change-button {
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
  > span {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 3px;
    width: 50%;
    background-color: $primary_text_color;
    transform: rotate(24deg) translate(18px, -2px);
    transform-origin: right;
    transition-duration: 0.5s;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 3px;
    width: 50%;
    background-color: $primary_text_color;
    transform: rotate(-27deg) translate(18px, 2px);
    transform-origin: right;
    transition-duration: 0.5s;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 1.5px);
    left: 0;
    right: 0;
    height: 3px;
    width: 100%;
    background-color: $primary_text_color;
  }
}

.photography-container {
  background-color: $light_bg_color;
  @include parent_width;
  @include centered(flex-start);

  flex-direction: row-reverse;
  > img {
    max-width: 15%;
  }
  > .photography-intro {
    padding: $spacing * 3;
    max-width: 80%;
    text-align: right;
  }
}

.container-photography {
  @include parent_width();
  background-color: $light_green_color;
  position: relative;
  .design-left {
    width: 20%;
    position: absolute;
    top: -10px;
    left: $large_spacing;
    z-index: 1;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .design-bottom {
    width: 20%;
    position: absolute;
    right: $spacing;
    bottom: 0;
  }

  > .images-and-texts {
    max-width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;
    @include marginAuto();
    align-items: center;
    justify-content: center;
    padding: $spacing * 3;
    grid-gap: $spacing;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);

      text-align: center;
    }

    .me {
      width: 90%;
      border-radius: 40% 40% 0 0;
      object-fit: contain;
      border: 10px solid $dark_bg_color;
      z-index: 2;

      @media screen and (max-width: 768px) {
        width: 50%;
        @include marginAuto();
      }
    }
    > .texts-photography {
      width: 100%;
      > .btn-me {
        @include button;
        &:hover {
          @include hover;
        }
      }
      > p {
        padding-bottom: $spacing * 2;
      }
    }
  }
}

.photography-items {
  @include parent_width;
  background-color: $dark_bg_color;
  text-align: center;
  .photography-texts {
    padding-top: $spacing * 3;
    padding-left: $spacing * 3;
    padding-right: $spacing * 3;
  }
  .food-photography {
    max-width: calc(80% + 98px);
    @include marginAuto();
    display: grid;
    grid-gap: $spacing;
    grid-template-columns: repeat(6, 14%);
    grid-template-rows: repeat(4, 16%);
    padding: $spacing * 3;
    justify-content: center;

   
    > img {
      width: 100%;
      object-fit: contain;
    
    }

    .img1 {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }

    .img3 {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
    }
    .img4 {
      grid-column: 6 / 7;
      grid-row: 3 / 4;
    }

    .img7 {
      grid-column: 6 / 7;
      grid-row: 2 / 3;
    }
    .img9 {
      grid-column: 3 / 6;
      grid-row: 1 / 2;
    }

    .img10 {
      grid-column: 4 / 6;
      grid-row: 3 / 5;
    }

    .img11 {
      grid-column: 3 / 4;
      grid-row: 4 / 5;
    }
    .img12 {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }

    .img13 {
      grid-column: 6 / 7;
      grid-row: 4 / 5;
    }
  }
}
