
$primary_text_color: #000000;
$light_primary_color: #ffffff;
$secondary_text_color: #414141;
$dark_bg_color: #f5dfd3;
$button_color: #282d27;
$secondary_button_color: #ae9a70;
$light_bg_color: #fbf7f4;
$light_green_color: #C3E2C2;

$large_spacing:4em;
$spacing: 1em;
$spacer:0.5em;

$chart_color1:#E55604;
$chart_color2: #FF6969;
$chart_color3: #C23373;
$chart_color4: #79155B;