*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Belleza", sans-serif;
  font-size: clamp(1rem, 1rem + 2vw, 3rem);
  text-transform: capitalize;
  padding-bottom: 0.5em;
}
@media screen and (max-width: 1293px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: clamp(1rem, 1rem + 1vw, 3rem);
  }
}

header,
button {
  text-transform: uppercase;
}

button {
  letter-spacing: 1.5px;
  cursor: pointer;
  background-color: transparent;
}

p {
  color: #414141;
  font-size: 20px;
}
@media screen and (max-width: 1029px) {
  p {
    font-size: 1rem;
  }
}

a {
  color: #000000;
}

.header-wrapper {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em 3em;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header-wrapper .hamburger-menu {
  display: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .header-wrapper .hamburger-menu {
    display: block;
  }
}
.header-wrapper .hamburger-menu > span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  background-color: #000000;
}
.header-wrapper .hamburger-menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  background-color: #000000;
}
.header-wrapper .hamburger-menu::before {
  content: "";
  position: absolute;
  top: calc(50% - 1.5px);
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  background-color: #000000;
}
.header-wrapper > h1 {
  font-size: 2em;
}
.header-wrapper > nav {
  position: relative;
}
.header-wrapper > nav > .header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3em;
}
@media screen and (max-width: 1023px) {
  .header-wrapper > nav > .header-nav {
    display: none;
  }
}
.header-wrapper > nav > .header-nav > li > a {
  color: #000000;
}
.header-wrapper > nav > .header-nav > li > a:hover {
  color: #C3E2C2;
  transition: 0.4s;
}
.header-wrapper > .header-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .header-wrapper > .header-links {
    display: none;
  }
}
.header-wrapper > .header-links > button {
  color: #ffffff;
  background-color: #282d27;
  padding: 1em;
  border-radius: 0.5em;
  border: 2px solid #282d27;
}
.header-wrapper > .header-links > button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #282d27;
  transition: 0.4s;
}
.header-wrapper > .header-links > a > i {
  color: #000000;
  padding: 0 0.5em;
  font-size: 1.5em;
}

.main-background {
  max-width: 100vw;
  background-image: url(../assets/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-wrapper {
  max-width: 100vw;
}
.intro-wrapper .intro-container {
  max-width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 8em 0;
}
@media screen and (max-width: 819px) {
  .intro-wrapper .intro-container {
    flex-direction: column-reverse;
  }
}
.intro-wrapper .intro-container > .introduce {
  text-align: right;
  max-width: 50%;
}
@media screen and (max-width: 819px) {
  .intro-wrapper .intro-container > .introduce {
    max-width: -moz-fit-content;
    max-width: fit-content;
    text-align: center;
  }
}
.intro-wrapper .intro-container > .introduce > h2 {
  padding-bottom: 1em;
}
.intro-wrapper .intro-container > .introduce > p {
  padding-bottom: 1em;
}
.intro-wrapper .intro-container > .introduce > button {
  color: #ffffff;
  background-color: #282d27;
  padding: 1em;
  border-radius: 0.5em;
  border: 2px solid #282d27;
}
.intro-wrapper .intro-container > .introduce > button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #282d27;
  transition: 0.4s;
}
@media screen and (max-width: 768px) {
  .intro-wrapper .intro-container > .introduce > button {
    font-size: 10px;
  }
}
.intro-wrapper .intro-container > img {
  max-width: 40%;
  border-radius: 40% 40% 0 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.more-info {
  background-color: #f5dfd3;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}
.more-info > .more-text {
  padding: 3em 3em;
  max-width: 80%;
  text-align: right;
}
@media screen and (max-width: 502px) {
  .more-info > .more-text {
    padding: 1em 3em;
  }
}
.more-info > .right-design {
  max-width: 15%;
}
.more-info > .right-design > img {
  width: 100%;
}

.container3 {
  background-color: #fbf7f4;
  text-align: center;
}
.container3 > div {
  padding: 4em 1em 0 1em;
}

.my-skills {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 3em;
  gap: 2em;
}
@media screen and (max-width: 1024px) {
  .my-skills {
    flex-wrap: wrap;
  }
}
.my-skills > .skill {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  padding-top: 6em;
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .my-skills > .skill {
    width: 150px;
    height: 150px;
  }
}

.my-skills .html {
  background-image: conic-gradient(#E55604 0deg, #E55604 350deg, #fbf7f4 270deg);
}
.my-skills .css {
  background-image: conic-gradient(#FF6969 0deg, #FF6969 340deg, #fbf7f4 270deg);
}
.my-skills .sass {
  background-image: conic-gradient(#C23373 0deg, #C23373 310deg, #fbf7f4 270deg);
}
.my-skills .javascript {
  background-image: conic-gradient(#79155B 0deg, #79155B 270deg, #fbf7f4 270deg);
}

.myWorks-container {
  padding: 4em 0;
  max-width: 100%;
  background-color: #f5dfd3;
}
.myWorks-container > .web-works {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  max-width: 80%;
}
.myWorks-container > .web-works > p {
  padding-bottom: 1em;
  text-align: center;
}
.myWorks-container > .web-works > img {
  max-width: 70%;
  border-radius: 1em 1em;
  box-shadow: 0 0 10px #ffffff;
}
@media screen and (max-width: 1441px) {
  .myWorks-container > .web-works > img {
    max-width: 100%;
  }
}

.buttons-changing {
  padding-top: 1em;
}
.buttons-changing > button i {
  font-size: 2em;
  background-color: #ae9a70;
  padding: 0.2em 0.3em;
  border-radius: 50%;
}

.container-graphic {
  background-color: #fbf7f4;
  max-width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container-graphic .graphic-intro {
  max-width: 80%;
  padding: 3em;
}
.container-graphic > img {
  max-width: 10%;
}

.my-design-works {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 50vh;
  background-color: #C3E2C2;
}
.my-design-works > h4 {
  padding-top: 2em;
}
.my-design-works > p {
  padding: 0 3em;
}
.my-design-works > .design-items {
  padding: 3em 3em;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
}
@media screen and (max-width: 768px) {
  .my-design-works > .design-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .my-design-works > .design-items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.my-design-works > .design-items > img {
  width: 100%;
  border-radius: 1em;
}

.hamburger-container {
  display: none;
  max-width: 100vw;
  position: relative;
}
.hamburger-container > .hamburger-menu-inside {
  width: 30%;
  min-height: 600px;
  background-color: rgba(255, 255, 255, 0.693);
  position: absolute;
  right: 0;
  top: 0;
}
.hamburger-container > .hamburger-menu-inside > nav > .hamburger-nav {
  text-align: center;
  padding: 8em 1em;
}
.hamburger-container > .hamburger-menu-inside > nav > .hamburger-nav > li {
  padding: 1em 0;
}
.hamburger-container > .hamburger-menu-inside > nav > .hamburger-nav > li > a {
  font-weight: 700;
}
@media screen and (max-width: 376px) {
  .hamburger-container > .hamburger-menu-inside > nav > .hamburger-nav > li > a {
    font-weight: 400;
    font-size: 0.8em;
  }
}

.change-button {
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
}
.change-button > span {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 3px;
  width: 50%;
  background-color: #000000;
  transform: rotate(24deg) translate(18px, -2px);
  transform-origin: right;
  transition-duration: 0.5s;
}
.change-button::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 3px;
  width: 50%;
  background-color: #000000;
  transform: rotate(-27deg) translate(18px, 2px);
  transform-origin: right;
  transition-duration: 0.5s;
}
.change-button::before {
  content: "";
  position: absolute;
  top: calc(50% - 1.5px);
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  background-color: #000000;
}

.photography-container {
  background-color: #fbf7f4;
  max-width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}
.photography-container > img {
  max-width: 15%;
}
.photography-container > .photography-intro {
  padding: 3em;
  max-width: 80%;
  text-align: right;
}

.container-photography {
  max-width: 100vw;
  background-color: #C3E2C2;
  position: relative;
}
.container-photography .design-left {
  width: 20%;
  position: absolute;
  top: -10px;
  left: 4em;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .container-photography .design-left {
    display: none;
  }
}
.container-photography .design-bottom {
  width: 20%;
  position: absolute;
  right: 1em;
  bottom: 0;
}
.container-photography > .images-and-texts {
  max-width: 80%;
  display: grid;
  grid-template-columns: 40% 60%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  padding: 3em;
  grid-gap: 1em;
}
@media screen and (max-width: 768px) {
  .container-photography > .images-and-texts {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}
.container-photography > .images-and-texts .me {
  width: 90%;
  border-radius: 40% 40% 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  border: 10px solid #f5dfd3;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .container-photography > .images-and-texts .me {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
.container-photography > .images-and-texts > .texts-photography {
  width: 100%;
}
.container-photography > .images-and-texts > .texts-photography > .btn-me {
  color: #ffffff;
  background-color: #282d27;
  padding: 1em;
  border-radius: 0.5em;
  border: 2px solid #282d27;
}
.container-photography > .images-and-texts > .texts-photography > .btn-me:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #282d27;
  transition: 0.4s;
}
.container-photography > .images-and-texts > .texts-photography > p {
  padding-bottom: 2em;
}

.photography-items {
  max-width: 100vw;
  background-color: #f5dfd3;
  text-align: center;
}
.photography-items .photography-texts {
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
}
.photography-items .food-photography {
  max-width: calc(80% + 98px);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(6, 14%);
  grid-template-rows: repeat(4, 16%);
  padding: 3em;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .photography-items .food-photography {
    display: none;
  }
}
.photography-items .food-photography > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.photography-items .food-photography .img1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.photography-items .food-photography .img3 {
  grid-column: 3/4;
  grid-row: 3/4;
}
.photography-items .food-photography .img4 {
  grid-column: 6/7;
  grid-row: 3/4;
}
.photography-items .food-photography .img7 {
  grid-column: 6/7;
  grid-row: 2/3;
}
.photography-items .food-photography .img9 {
  grid-column: 3/6;
  grid-row: 1/2;
}
.photography-items .food-photography .img10 {
  grid-column: 4/6;
  grid-row: 3/5;
}
.photography-items .food-photography .img11 {
  grid-column: 3/4;
  grid-row: 4/5;
}
.photography-items .food-photography .img12 {
  grid-column: 1/3;
  grid-row: 3/4;
}
.photography-items .food-photography .img13 {
  grid-column: 6/7;
  grid-row: 4/5;
}

.photography-items .food-photography-alternative {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 1em;
  padding: 3em;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 769px) {
  .photography-items .food-photography-alternative {
    display: none;
  }
}
@media screen and (max-width: 426px) {
  .photography-items .food-photography-alternative {
    grid-template-columns: repeat(1, 1fr);
  }
}
.photography-items .food-photography-alternative > figure > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
}
.photography-items .food-photography-alternative > figure {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.photography-items .food-photography-alternative > figure .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.353);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  transition: 0.4s;
  text-align: center;
  padding: 1em;
}
.photography-items .food-photography-alternative > figure .overlay > h5, .photography-items .food-photography-alternative > figure .overlay p {
  color: #ffffff;
}
.photography-items .food-photography-alternative > figure:hover > img ~ figcaption {
  bottom: 0;
}